<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.toyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.example.udacity.droidtermsexample.TERMS_READ" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ToDoListActivity" />
        <activity android:name=".activity.AsynkTaskCursorActivity" />
        <activity android:name=".activity.LifecycleActivity" />
        <activity android:name=".activity.ImplicitIntentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChildActivity"
            android:parentActivityName=".activity.ExplicitIntentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ExplicitIntentActivity" />
        </activity>
        <activity android:name=".activity.ExplicitIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UrlWebActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.recyclerview.RecyclerViewLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.visualizerpreferences.VisualizerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.visualizerpreferences.SettingsActivity"
            android:label="@string/visualizer_settings"
            android:parentActivityName=".activity.visualizerpreferences.VisualizerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.visualizerpreferences.VisualizerActivity" />
        </activity>

        <activity
            android:name="com.example.android.toyapp.activity.todolist.AddTaskActivity"
            android:label="@string/add_task_activity_name" />
    </application>

</manifest>